each item in data.results
    .indented
        .row
            .col-md-6
                if (item.image)
                    .smallImage
                        img(src= item.image.small_url)
                br
            .col-md-3
                h3
                    b
                    <a href="#" onClick='GameData.gameDetails(#{item.id})'> #{item.name} </a>
                //- br
                //- b= "Original Release Data:  "
                //- = item.original_release_date
                //- br
                //- b= "Platforms: "
                //- if (item.platforms)
                //-     if (item.platforms.length > 0)
                //-         each plat in item.platforms
                //-             = plat.name+", " 
                //- //- b= "Platforms: "
                //- //- = <a href= plat.api_detail_url> plat.name +', '</a>
                //- br
                p
                = item.deck
                
                //- h5.subtitle About
                //- b= "State: "
                //- = item.state_name
                //- br    
                //- b= "Chamber: "
                //- = item.chamber
                //- br
                //- b= "Party: "
                //- = item.party
                //- br
                //- b= "Term start: "
                //- = item.term_start
                //- br
                //- b= "Term end: "
                //- = item.term_end
                //- br
            //- .col-md-3
                //- h5.subtitle Contact
                //- if item.website    
                //-     a(href= item.website)
                //-         = "Website"
                //-     br            
                //- b= "Email: "
                //- = item.oc_email
                //- br
                //- b= "Phone: "
                //- = item.phone
                //- br
                //- b= "Office: "
                //- = item.office
                //- br

    //pre= JSON.stringify(item)

//h3 Raw data
//pre= JSON.stringify(data, null, ' ')