h5 Favorite Games
ul
    li
        a(href="#" onClick='GameData.searchByName("Final Fantasy")') Final Fantasy
    li
        a(href="#" onClick='GameData.gameDetails("4763", "Kingdom Hearts II")') Kingdom Hearts II
